
{{#if findRole}}
    <div class="nk-content ">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="components-preview wide-md mx-auto">
                                        <div class="nk-block-head nk-block-head-lg wide-sm">
                                            <div class="nk-block-head-content">
                                                <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em class="icon ni ni-arrow-left"></em><span>Components</span></a></div>
                                                <h2 class="nk-block-title fw-normal">Formulaire de Création nouveau utilisateur</h2>
                                                <div class="nk-block-des">
                                                    <p class="lead">Remplir tous les champs pour enrégistrer un nouveau  utilisateur.</p>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block-head -->
                                        <div class="nk-block nk-block-lg">
                                            <div class="nk-block-head">
                                                <div class="nk-block-head-content">                                                    
                                                    {{#if success }}
                                                        <div class="alert alert-fill alert-icon alert-success" role="alert">
                                                            <em class="icon ni ni-alert-circle"></em> 
                                                            <strong>Enregistré</strong>.{{message}}
                                                        </div>
                                                    {{/if}}
                                                    {{#if error }}
                                                        <div class="alert alert-fill alert-icon alert-danger" role="alert">
                                                            <em class="icon ni ni-alert-circle"></em> 
                                                            <strong>Erreur</strong>.{{message}}
                                                        </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <div class="card card-bordered">
                                                <div class="card-inner">
                                                    <form id="add_utilisateur" class="form-validate">
                                                        <div class="row g-gs">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="role_utilisateur">Role</label>
                                                                    <div class="form-control-wrap ">
                                                                        <select class="form-control form-select" id="role_utilisateur" name="role_utilisateur" data-placeholder="Select a option" required>
                                                                            <option selected value="">Sélectionner</option>
                                                                            {{#each roles}}
                                                                                <option value="{{id_role}}">{{nom_role}}</option>
                                                                            {{/each}}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="nom_utilisateur">Nom</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="nom_utilisateur" name="nom_utilisateur" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="prenom_utilisateur">Prenom</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="prenom_utilisateur" name="prenom_utilisateur" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                             <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="fonction_utilisateur">Fonction</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="fonction_utilisateur" name="fonction_utilisateur" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="email_utilisateur">Email</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="email" class="form-control" id="email_utilisateur" name="email_utilisateur" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="mdp_utilisateur" for="motdepasse_utilisateur">Mot de Passe</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="motdepasse_utilisateur" name="motdepasse_utilisateur" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block -->
                                    </div><!-- .components-preview -->
                                </div>
                            </div>
                        </div>
    </div>

    {{else}}
    <p>Le paramètre role est manquant.</p>
<{{/if}}